<!DOCTYPE html>
<html>
<head>
	<title>Reloj Inteligente</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Un reloj inteligente que proyecta
notificaciones en la mano</h1>

	<p>
		Ritot es una pulsera que permite visualizar en la mano proyecciones con la hora, mensajes de texto, llamadas entrantes y noticias de redes sociales
	</p>
	<div align="center">
	<img src="../images/foto2.jpg">
</div>
	<p align="justify">
		Para las empresas, los relojes inteligentes se volverán una parte importante de la industria tecnológica. Samsung, Motorola y LG cuentan con sus modelos, mientras que se espera el iWatch, la versión de Apple de este producto. Sin embargo, una start up quiere cambiar el concepto de estos equipos. Se trata de Ritot, una pulsera que muestra proyecciones en la mano con notificaciones de redes sociales, llamadas entrantes, mensajes de texto y, por supuesto, la hora.
	</p>

	<p align="justify">
		Para fabricar este dispositivo, la start up creada por cuatro emprendedores de Estados Unidos pidió fondos en la plataforma de financiamiento colectivo Indiegogo. La empresa buscaba alcanzar los US$ 50.000 pero ya acumula más de US$ 200.000
	</p>
	<p align="justify">
		La pulsera permite realizar proyecciones en más de 20 colores, sincronizar el producto con el teléfono para recibir notificaciones de redes sociales como Facebook y Twitter y es resistente al agua, entre otras características.

	</p>
</body>
</html>