<!DOCTYPE html>
<html>
<head>
	<title>Lentes de Contacto Inteligentes</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2>Google  y  Novartis  se  unen  para  vender  sus  lentes  de  contacto inteligentes </h2>

	<p align="justify">
		La empresa de medicina comercializará este producto a través de su división Alcon, orientada al cuidado de ojos.
	</p>
	<div align="center">
	<img src="../images/foto4.jpg">
</div>
	<p align="justify">
		Tras presentarlos a principio de este año, Google y Novartis anunciaron que trabajarán juntos para vender sus "lentes de contacto inteligentes" pensados para diabéticos ya que monitorean el nivel de azúcar en sangre. Según informó Novartis, su división Alcon, de cuidado de ojos, será la encargada de comercializar este producto
	</p>

	<p align="justify">
		Estos lentes de contacto inteligentes no sólo miden el nivel de azúcar a través de las lágrimas de los ojos, sino que también permiten corregir la visión, como los lentes tradicionales. Los lentes inteligentes cuentan con sensores no invasivos, microchips y electrónicos en miniatura ensamblados al producto.

	</p>
	<p align="justify">
		"Siempre hemos dicho que íbamos a buscar llevar a cabo proyectos que parecen un poco extraños, y en momentos en que la Federación Internacional de Diabetes (PDF) está declarando que el mundo está "perdiendo la batalla" contra la misma, pensamos que este proyecto valía la pena intentarlo", sostuvieron desde Google en enero.


	</p>
	
</body>
</html>