table th{
     background-color:#FBB716;
     color:#000000;
     font-family:Arial;
     font-size:13pt;
     text-align:center;
}

.renglon_blanco{
     background-color:#FFFFFF;
     color:#000000;
     font-family:Arial;
     font-size:11pt;
     text-align:center;
}

.renglon_verde_bajo{
     background-color:#8ABA4A;
     color:#000000;
     font-family:Arial;
     font-size:10pt;
     text-align:center;
}
.menu{
     border:1px solid #000000;
     background-color:#F7EC3C;
}

.menu th{
    border:1px solid #000000;
    background-color:#F7EC3C;
    padding:3px;
}

.menu th a{
     background-color:#F7EC3C;
     color:#000000;
     font-family:Verdana;
     font-size:10pt;
     text-align:center;
}
.menu th a:link, a:visited{
	color:#000000;
	font-family:Verdana;
	font-size:16pt;
	text-align:center;
	text-decoration: none;
}

.menu th a:hover {
	text-decoraion: underline;
	background-color:#FFFFFF;
	display:block;
}

.renglon_over {
	background-color:none;
	color:#000000;
	font-family:Arial;
	font-size:10pt;
	text-align:center;
}

.estilo1 {
	font-size: 22px;
	color: #0066CC;
}
.estilo2 {
font-size: 19px;
color: #999999
}

.estilo3 {
font-size: 14px;
color: #999999
}
.estilo4 {
	font-size: 14px;
	color: #0066CC;
}

