<?php 
  

  session_start();
  include ('../layouts/header.php');
?>
      

    <div class="container">
      <div class="row">
          <div class="col-md-4">
                
          </div>
          <div class="col-md-4">
              <h2 class="bg-info" align="center">
                  <!-- Icono -->
                  Entrenador
              </h2>
              <br/>
              <!-- formulario registro de estadios -->
              <form id="formEn" class="form-horizontal" role="form">
                  <!-- formulario Nombre -->
                  <div class="form-group">
                          <label for="identrenador" class="col-sm-4 control-label">ID Entrenador</label>
                      <div class="col-sm-8">
                          <input type="text" class="form-control" id="identrenador" name="identrenador" >
                      </div>
                  </div>
                  <!-- formulario Ciudades -->
                  <div class="form-group">
                          <label for="idpais" class="col-sm-4 control-label">ID Pa&iacute;s</label>
                      <div class="col-sm-8">
                          <input type="text" class="form-control" id="idpais" name="idpais" >
                      </div>
                  </div>
                  <br/>
                  <div align="center" class="form-group">

                          <button type="submit" name="submit" class="btn btn-success">Guardar</button>
                  </div>
                
                </form>
              <div class="col-md-4">               
              </div>
          </div>
      </div>
  </div>
            

  
