.estilo1{
	font-size:16px;
	font-family:verdana;
	color:#215E21;
}

.estilo2{
	font-size:14px;
	font-family:verdana;
	color:#000000;
}

.estilo3{
	font-size:14px;
	font-family:verdana;
	color:#FF2400;
}

.estilo4{
	font-size:12px;
	font-family:verdana;
	color:#000000;